/* font family */

@font-face {
  font-family: 'Montserrat';
  src: url('../font-family/Montserrat-Regular.woff2') format('woff2'),
    url('../font-family/Montserrat-Regular.woff') format('woff'),
    url('..//font-family/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.form-group input,
.form-group textarea,
.form-group label,
.form-group option {
  font-family: 'Montserrat';
  font-weight: 700 !important;
  font-size: 15px;
  color: #404040;
}

/* */

.is-invalid {
  border-color: 1px solid #bc1618; 
}

/* General css for all forms inside form - textarea, input, select etc. */

.general-style {
  border: none;
  width: 100% !important;
  max-width: 100% !important;
  resize: none;
}

.form-group {
  height: 74px;
  border: 1px solid black; /* add #e1e1e1 at the end*/
  margin-bottom: -1px !important;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  box-shadow: none;
  border-color: red;
}

.form-group--flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.form-group--flex select {
  height: 70px;
  padding: 26px 28px;
}

.form-group--flex input {
  height: 100%;
  padding: 26px 30px;
}

.form-group--textarea {
  height: 184px;
}

.form-group--textarea label {
  padding-bottom: 15px;
}

.form-group label {
  padding-left: 25px;
  padding-top: 0 !important;
  text-align: left !important;
  margin-right: 100px;
  max-width: 280px;
  width: 100%;
}

.form-group label span {
  color: red;
}

.form-group select option:hover {
  background: red;
}

.form-inline-wrapper {
  position: relative;
  width: 100%;
}

.submit--section {
  margin-top: 70px;
  padding-left: 15px;
}

/* textarea css */

textarea {
  height: 100% !important;
}

/* Select css */

.select-wrapper {
  width: 100%;
}

select:focus {
  border-color: red !important;
}

/* button css */

.button__full {
  display: inline-block;
  min-width: 210px;
  background: red;
  padding: 13px 28px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  will-change: transform;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: -webkit-box-shadow 350ms ease, -webkit-transform 350ms ease;
  -o-transition: box-shadow 350ms ease, transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease, -webkit-box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: all 350ms ease;
}

.button__full:hover {
  -webkit-box-shadow: 0 15px 45px -20px rgba(0, 0, 0, 0.7), 0 0 50px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 45px -20px rgba(0, 0, 0, 0.7), 0 0 50px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  border: none;
}

.button__full:focus {
  outline: none;
  border: none;
}

.absolute-btn {
  position: absolute;
  left: 30px;
  bottom: 0;
  color: red;
  text-decoration: none;
  transition: all 300ms ease;
  font-weight: 700;
  font-family: 'Montserrat';
}

.absolute-btn:focus,
.absolute-btn:hover {
  text-decoration: none;
  color: black;
}